.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnignore
vsc-extension-quickstart.md
bump.js
package-lock.json
npm-debug.log
yarn-error.log
tsconfig.json
.eslintrc.json
.prettierrc
webpack.config.js
jest.config.js
test/**
.github/**
*.js.map
*.ts.map